.Swiper {
  display: flex;
  flex-direction: column;

  padding: 5px;
//   overflow: hidden;

  justify-content: center;
  align-items: center;

  height: fit-content;
  width: 100%;

  transition: 0.5s;

  .Slide {
    .Card {
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
      display: flex;

      justify-content: center;
      align-items: center;

      overflow: hidden;

      height: 250px;
      width: 250px;

      transition: 0.5s;

      .Display_Image {
        border: none;
        outline: none;
        height: 100%;
        width: 100%;
        margin: auto;
        object-fit: cover;
        transition: 0.5s;
      }

      .Name {
        position: absolute;
        bottom: 10px;
        left: 10px;

        color: white;
        font-family: "Nunito", sans-serif;
        font-style: italic;
        font-size: 15px;
        font-weight: 200;
      }
    }
  }
}
